# control information, like user id, password
# keep the identifiers before "=" when update
login_user = 'Xiaojuan'
login_pw = 'Has0ffers'
db_username = 'read_tableau'
db_password = 'ypxViOdFuVjP1Y0y3LPi'
server = 'https://mi.tune.com'
wb_name = '"workbook"'
ds_name = '"data source"'
pg_username = 'readonly'
pg_password = 'dDCAJP9pSpfw'
pg_server = '10.16.32.20'
mv_username = 'read_tableau'
mv_password = 'ypxViOdFuVjP1Y0y3LPi'
tbi_conn_string = 'mysql+mysqldb://tableau_metadata:8780eae4a31383@p-iproxy01.use01.plat.priv:11107/tunebi_metadata'

# list of files to be populated to new advertiser's directory from ./1693
# One file name per line, filenames may be quoted, but don't have to.
# Line start with # will be treated as comment and skipped by the script.
# Packaged workbooks still need to be shown here as .twb and must have
# the  at the end of the file name
#MI_v2.06.0_Retention_1693.twbx
#MI_v2.06.0_UserAcquisition_1693.twbx
#MI_v2.06.0_LTV_1693.twbx
#MI_v2.06.0_Engagement_1693.twbx
#MI_v2.06.0_Re-Engagement_1693.twbx
#MI_v2.06.0_ExecutiveSummary_1693.twbx
MI_v2.06.1_TrafficQuality_1693.twbx
#MI_v2.06.0_Multiverse_1693.twbx
#MI_v2.03.0_TableOfContents_1693.twbx
#Sandbox_Cohort_Retention.tds
#Sandbox_Actual_User_Acquisition.tds
#Sandbox_Cohort_Traffic_Quality.tds
#Sandbox_Actual_Re-Engagement.tds
#Sandbox_Cohort_LTV.tds
#Sandbox_Actual_Engagement.tds